
*{
            text-decoration: none;
        }
        
        .nav-bar{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding-left: 15px;
            padding-right: 15px;
        }
        .nav-div{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .logo{
            font-size: 1.5rem;
            color: blue;
            font-weight: bold;
            font-size: 40px;
        }
        li{
            list-style: none;
            display: inline-block;
        }
        li a{
         font-size: 18px;   
         font-weight: bold;
         margin-right: 25px;
         color: black;
        }
        .nav-container{
            max-width: 1200px;
            margin-left: 0px;
            box-sizing: border-box;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 15px;
            padding-bottom: 25px;
        }
        .trade{
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 70px;
            margin-left: 20px;
            position: relative;
            display: inline-block;
            margin-bottom: 30px;
        }
        .snack{
            width: 300px;
            position: relative;
            top: 25%;
            left: 45%;
        }
        .jollof{
            width: 250px;
            position: absolute;
            top: 45%;
            right: 25%;
        }
        .eba{
            width: 200px;
            position: absolute;
            top:53%;
            left: 1020px;
        }
        .delivery{
            position: absolute;
            top: 100%;
            padding-left: 20px;
            left: 5%;
            
        }
        .order{
            font-size: 24px;
            margin-left: 20px;
        }
        .name{
            border-radius: 8px;
            font-size: 16px;
            margin-left: 23px;   
        }
        .choice{
            border-radius: 8px;
            font-size: 16px;
            position: absolute;
            top: 85%;
            left: 64px;
        }
        .clock{
            position: absolute;
            top: 100%;
            left: 40%;
            width: 150px;
        }
        .hours{
            position: absolute;
            top: 100%;
            left: 70%;
            width: 230px;
        }
        .any{
            position: absolute;
            top: 130%;
            margin-left: 60px;
            font-size: 23px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        .fast{
            position: absolute;
            top: 130%;
            margin-left: 510px;
            font-size: 23px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        .service{
            position: absolute;
            top: 130%;
            margin-left: 950px;
            font-size: 23px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    